<strong>Admin menu</strong>
<ul>
  <li><%= link_to 'Manage Checkins', [:admin, :checkins] %></li>
  <li><%= link_to 'Manage Stickers', [:admin, :stickers] %></li>
  <li><%= link_to 'Manage Users', [:admin, :users] %></li>
  <li><%= link_to 'Manage Pages', [:admin, :pages] %></li>
  <li><%= link_to 'Manage Socials', [:admin, :socials] %></li>
  <li><%= link_to 'Manage News', [:admin, :news_index] %></li>
  <li><%= link_to 'Manage Spots', [:admin, :spots] %></li>
  <li><%= link_to 'Manage Energetics', [:admin, :energetics] %></li>
  <li><%= link_to 'Manage Countries', [:admin, :countries] %></li>
  <li><%= link_to 'Manage Cities', [:admin, :cities] %></li>
</ul>